#left{
    width:20%;
}
#right{
    position: absolute;
    right: 0;
    top: 10px;
    width:55%;
}
.button{
    position: absolute;
    right: 0px;
}
.posts{
    width:85%;
}
.post{
    margin: 12px;
    padding: 4px;
    border: 1px #444 dashed;
    background-color: #c6cbe3;
}
.title{
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.comments{
    margin: 3px;
    background-color: whitesmoke;
    border: 1px #116ea6 dashed;
}
.comme{
    background-color: white;
    margin: 6px;
}
.name{
    display: inline-block;
    color:#1990DC;
    font-size: 14;
    font-weight: bold;
}
.name:hover{
    cursor: pointer;
}

.email{
    float: right;
    color: blue;
}
.email:hover{
    cursor: pointer;
}